
.content {
    display: flex;
    flex-direction: row;
}

.add-to-shoppingcart {
    display: flex;
    flex-direction: row;
}

.add-to-shoppingcart input {
    width: 50px;
}

.add-to-shoppingcart button {
    color: #3c2a1e;
    background-color: #a27250;
    cursor: pointer;
}

.add-to-shoppingcart button:hover {
    background-color: #6f4e37;
}

.add-to-shoppingcart input, button {
    padding: 10px 15px;
    margin: 2px;
    border-radius: 4px;
    border: none;
}

.item-navigation {
    min-width: 200px;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 1px solid black;
    word-wrap: break-word;

}

.item-navigation h2, .item-navigation li a {
    color: #3c2a1e;
    text-decoration: none;
}

.item-navigation ul {
    list-style: none;
}

.product-item{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.product-item-image {
    max-width: 300px;
    max-height: fit-content;
    min-width: 100px;
    min-height: 100px;
}

.product-item-image img {
    width: 100%;
    height: auto;
}

.product-item-info {
    word-wrap: break-word;
    padding: 5px;
}

.product-item-col {
    justify-content: flex-start;
    padding: 5px;
    flex: 1;
}