.intro {
    text-align: center;
}
.item-list {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.item-row {
    display: table;
    margin: 0 auto;
    justify-content: flex-start;
    border-spacing: 3px;
    padding: 5px;
}

.item:hover{
   /*  border: 3px solid #6f4e37;
    padding: 3px; */
    transform: scale(1.05);
}

.item {
    flex-direction: column;
    display: table-cell;
    align-content: center;
    max-width: 200px;
    max-height: 100%;
    padding: 5px;
    border: 1px solid #3c2a1e;
    background-color: white;   
    transition: all 0.1s ease-in-out;
}

.item img {
    width: 100%;
    height: auto;
}

.item p{
    text-align: center;
}

.item a {
    text-decoration: none;    
}