.intro {
    text-align: center;
}
.item-list {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.item-row {
    /* display: table;
    margin: 0 auto; */
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    border-spacing: 3px;
    padding: 5px;
}



.item-info-popup {
    display: none;
    position: relative;
    background-color: pink;
    
}

.item-info:hover + .item-info-popup {
    
    display: block;
    z-index: 200;
}


/* .item-info-popup {
    position: fixed;
    visibility: hidden;
}

 .item-info:hover + .item-info-popup,
 .item-info-popup:hover{
    visibility: visible;
    z-index: 200;
   
} */

.item {
    /* flex-direction: column;
    display: table-cell; */
    display: flex;
    align-items: flex-end;
    max-width: 200px;
    max-height: 100%;
    min-width: 100px;
    min-height: auto;
    padding: 5px;
    border: 1px solid #3c2a1e;
    background-color: white;   
    transition: all 0.2s ease-in-out;
}

.item a p {
    
    bottom: 0;
}

.item img {
    
    width: 100%;
    height: auto;
}

.item p{
    text-align: center;
}

.item a {
    text-decoration: none;    
}