.intro {
    text-align: center;
}
.item-list {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.item-row {
    display: table;
    margin: 0 auto;
    border-spacing: 3px;
    padding: 5px;
}



.item {
    flex-direction: column;
    display: table-cell;

    max-width: 200px;
    max-height: 100%;
    padding: 5px;
    border: 1px solid #3c2a1e;
    background-color: white;   

}

.item p {
    text-align: center;
    bottom: 0;
    
}

.item img {

    width: 100%;
    height: auto;
}