* {
    margin: 0;
}


html, body {
    height: 100%;
}

body {

    background-image: url("images/star-sky-background.jpg"); 
    background-repeat: repeat;
}

p {
    color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.page-wrap {
    min-height: 100%;
    /* footer height minus last tag padding-bottom*/
    margin-bottom: -20px;  
    margin-left: auto;
    margin-right: auto;
    width: 70%; 
}
.page-wrap:after {
    display: block;
}

.content {
    background-color: black;
    text-align: center;
}

#header img{
    width: 45%;
}

#header img, .content{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#trailer-box {
    padding: 15px;
    float: bottom;
    text-align: center;
}

#solo-trailer {
    width: 50%;
    height: 350px;
    float: middle;
}

#info-bar, #footer p {
    font-size: 11px;
}

#important-links img{
    padding-right: 5px;
    padding-left: 5px;
    height: 26px;
    padding-bottom: 20px;
}

#important-links p, #movie-info{
    font-size: 12px
}

#icon-bar {
    padding: 0;
}

#footer, .page-wrap:after {
    height: 20px;
}
#footer {
    position: relative;
    bottom:0;
    width: 100%;
    text-align: center;
}


